body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    justify-content: center; 
    width: 800px;
    border-radius: 30px;
    background-color: black;
    padding-bottom: 40px;
}

.backgroundScreen {
    width: 700px;
    margin: 30px;
    border-radius: 5px;
    background-color: #fff;
 }