@font-face {
    font-family: "Cabin-Bold";
    src: url(fonts/Cabin-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cabin-Reg";
    src: url(fonts/Cabin-Regular.ttf);
    font-weight: thin;
    font-style: normal;
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.container {
    display: grid;
    justify-content: center; 
    width: 800px;
    border-radius: 30px;
    background-color: black;
    padding-bottom: 40px;
}

.backgroundScreen {
    width: 700px;
    margin: 30px;
    border-radius: 5px;
    background-color: #fff;
}

header {
    display: grid;
    grid-template-columns: 140px 1fr 25px 35px 25px 43px;
    margin-bottom: 25px;
}

time, .toggleBtn{
    display: flex;
    justify-self: center;
    align-self: center;
}

.arrow{
    width: 80px;
    height: 12px;
    cursor: pointer;
}

/* Drop Down Menu */
ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px;
    text-align: center;
    row-gap: 60px;
    padding: 0;
}

li{
    list-style: none;
}

.bluetooth, .wifi, .battery{
    display: flex;
    align-self: center;
    justify-self: center;
}

.battery{
    width: 25px ;
}

.wifi{
    width: 20px;
}

.bluetooth{
    width: 10px
}

.search{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 25px;
}

.searchBar{
    display: flex;
    border: 2px solid black;
    border-radius: 40px;
    gap: 15px;
    width: 580px;
    height: 50px;
}

.searchImg{
    margin-top: 15px;
    margin-left: 30px;
    width: 20px;
    height: 20px;
}

input{
    width: 455px;
    height: 45px;
    border: none;
    font-size: 16px;
    font-family: Cabin-Bold;
}

input::placeholder{
    position: absolute;
    color: black;
}

.shoppingCart{
    width: 20px;
}

.moreInfo{
    width: 10px;
    margin-left: 10px;
}

.searchBar p{
    position: relative;
    font-size: 18px;
    bottom: 5px;
}

.filterAndSort{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.filterBy{
    display: flex;
    justify-self: start;
    width: 20px;
    margin-left: 30px;
}

.sortBy{
    display: flex;
    justify-self: end;
    width: 20px;
    margin-right: 25px;
}

.bookCatalog{
    max-height: 650px;
    border-top: 2px solid rgba(128, 128, 128, 0.225);
    margin-right: 25px;
    overflow-y: scroll;
}

/* Scrolling */
::-webkit-scrollbar{
    width: 5px;
}

.bookCatalog::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: black;
}

.bookCatalog::-webkit-scrollbar-track{
    background: rgba(128, 128, 128, 0.436);
}

.books{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    row-gap: 10px;
    column-gap: 10px;
}

.books img{
    width: 195px;
}

.homeBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    border-top: 2px solid black;
    height: 55px;
}

.homeBar p, .library{
    display: flex;
    justify-self: center;
    align-self: center;
    font-family: Cabin-Bold;
    font-size: 20px;
}

.preview{
    position: relative;
    width: 55px;
    bottom: 20px;
    margin-bottom: 15px;
    border: 4px solid white;
}

.library{
    border-bottom: 3px solid black;
}

.logo{
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 0;
    font-family: Cabin-Reg;
    font-size: 40px;
    color: #ffffff61;
}